body{
    background-color: #a8a8a8;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

.content{
    width: 1000px;
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
}
.header1{
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px #3d3d3d;
}

h1{
    text-align: center;
    text-shadow: 2px 2px #3d3d3d;
}

label{
    width: 50%;
    font-size: 30px;
    text-shadow: 1px 1px #3d3d3d;
    float: left;
    text-align: center;
}

input, select{
    width: 50%;
    display: block;
    height: 30px;
    margin: 10px 0px 50px 125px;
    font-size: 16px;
}

.msg{
    width: 100%;
    font-size: 30px;
    text-shadow: 1px 1px #3d3d3d;
    float: left;
    text-align: center;
}

textarea{
    font-size: 20px;
    width: 85%;
    min-height: 100px;
    resize: none;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
}

.btn{
    width: 50%;
    border-radius: 5px;
    border: none;
    height: 50px;
    font-size: 24px;
    color: #ffffff;
    background-color: #3d3d3d;
    text-transform: uppercase;
}

.invalid{
    border: 2px solid #dd3333
}

.info-errors{
    font-size: 20px;
    color: #dd3333;
    text-align: center;
}