.scroller-navigation{
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.scroller-navigation ul{
    list-style: none;
}

.scroller-navigation ul li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.3);
    cursor: pointer;
    transition: .5s;
}

.scroller-navigation ul li.active{
    background-color: blue;
}

.scroller-navigation ul li + li{
    margin-top: 10px;
}