* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

* .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* .container h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 2rem;
}

* .container p.hexCode {
  font-size: 1.3rem;
  padding: 10px;
  margin: 2rem 1rem;
  box-shadow: 0 0 5px 2px black;
}

* .container button.hexBtn {
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
}

* .container button.hexBtn:hover {
  text-decoration: underline;
}

* .container button.hexBtn:focus {
  outline: 0;
}
